.u-section-1 {background-image: url("images/rain.gif")}
.u-section-1 .u-sheet-1 {min-height: 100vh}
.u-section-1 .u-group-1 {width: 800px; min-height: 259px; animation-duration: 500ms; height: auto; margin: 327px auto 60px}
.u-section-1 .u-container-layout-1 {padding: 26px 30px 19px}
.u-section-1 .u-text-1 {font-family: Amaranth; animation-duration: 1000ms; font-size: 6rem; margin: 0 auto}
.u-section-1 .u-text-2 {font-size: 1.5rem; animation-duration: 1000ms; width: 290px; margin: 23px auto 0}
.u-section-1 .u-btn-1 {animation-duration: 1000ms; margin: 23px auto 0 228px; padding: 0}
.u-section-1 .u-text-3 {width: 25px; margin: -25px 452px 0 279px}
.u-section-1 .u-btn-2 {animation-duration: 1000ms; margin: -25px auto 0 304px; padding: 0}
.u-section-1 .u-text-4 {width: 25px; margin: -25px 355px 0 auto}
.u-section-1 .u-btn-3 {animation-duration: 1000ms; margin: -25px 306px 0 auto; padding: 0}
.u-section-1 .u-text-5 {width: 25px; margin: -25px 281px 0 auto}
.u-section-1 .u-btn-4 {animation-duration: 1000ms; margin: -25px 228px 0 auto; padding: 0} 

@media (max-width: 1199px){ .u-section-1 .u-text-3 {width: auto; margin-right: 436px}
.u-section-1 .u-text-4 {width: auto; margin-left: 360px}
.u-section-1 .u-text-5 {width: auto} }

@media (max-width: 991px){ .u-section-1 .u-group-1 {width: 720px}
.u-section-1 .u-btn-1 {margin-left: 188px}
.u-section-1 .u-text-3 {margin-right: 397px; margin-left: 239px}
.u-section-1 .u-btn-2 {margin-left: 264px}
.u-section-1 .u-text-4 {margin-right: 315px; margin-left: 321px}
.u-section-1 .u-btn-3 {margin-right: 266px}
.u-section-1 .u-text-5 {margin-right: 241px}
.u-section-1 .u-btn-4 {margin-right: 188px} }

@media (max-width: 767px){ .u-section-1 .u-group-1 {width: 540px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-1 {font-size: 3.75rem}
.u-section-1 .u-btn-1 {margin-left: 118px}
.u-section-1 .u-text-3 {margin-right: 327px; margin-left: 169px}
.u-section-1 .u-btn-2 {margin-left: 194px}
.u-section-1 .u-text-4 {margin-right: 245px; margin-left: 251px}
.u-section-1 .u-btn-3 {margin-right: 196px}
.u-section-1 .u-text-5 {height: 25px; margin-right: 171px}
.u-section-1 .u-btn-4 {margin-right: 118px} }

@media (max-width: 575px){ .u-section-1 .u-group-1 {width: 340px}
.u-section-1 .u-text-1 {font-size: 3rem}
.u-section-1 .u-btn-1 {margin-left: 0}
.u-section-1 .u-text-3 {margin-right: 227px; margin-left: 69px}
.u-section-1 .u-btn-2 {margin-left: 0}
.u-section-1 .u-text-4 {margin-right: 154px; margin-left: 151px}
.u-section-1 .u-btn-3 {margin-right: 0}
.u-section-1 .u-text-5 {margin-right: 122px}
.u-section-1 .u-btn-4 {margin-right: 0} }