.u-section-1 {background-image: url("images/rain.gif")}
.u-section-1 .u-sheet-1 {min-height: 100vh}
.u-section-1 .u-group-1 {width: 800px; min-height: 260px; animation-duration: 500ms; height: auto; margin: 315px auto 60px}
.u-section-1 .u-container-layout-1 {padding: 26px 30px 19px}
.u-section-1 .u-text-1 {font-family: Amaranth; animation-duration: 1000ms; font-size: 6rem; margin: 0 auto}
.u-section-1 .u-text-2 {font-size: 1.5rem; animation-duration: 1000ms; width: 290px; margin: 23px auto 0}
.u-section-1 .u-btn-1 {animation-duration: 1000ms; margin: 23px auto 0 228px; padding: 0}
.u-section-1 .u-text-3 {width: 25px; margin: -25px 452px 0 279px}
.u-section-1 .u-btn-2 {animation-duration: 1000ms; margin: -25px auto 0 304px; padding: 0}
.u-section-1 .u-text-4 {width: 25px; margin: -25px 355px 0 auto}
.u-section-1 .u-btn-3 {animation-duration: 1000ms; margin: -25px 306px 0 auto; padding: 0}
.u-section-1 .u-text-5 {width: 25px; margin: -25px 281px 0 auto}
.u-section-1 .u-btn-4 {animation-duration: 1000ms; margin: -25px 228px 7px auto; padding: 0} 

@media (max-width: 1199px){ .u-section-1 .u-text-3 {margin-right: 444px; margin-left: 271px}
.u-section-1 .u-text-5 {height: 25px} }

@media (max-width: 991px){ .u-section-1 .u-group-1 {width: 720px}
.u-section-1 .u-btn-1 {margin-left: 148px}
.u-section-1 .u-text-3 {margin-right: 404px; margin-left: 231px}
.u-section-1 .u-btn-2 {margin-left: 224px}
.u-section-1 .u-btn-3 {margin-right: 226px}
.u-section-1 .u-text-5 {margin-right: 251px}
.u-section-1 .u-btn-4 {margin-right: 148px} }

@media (max-width: 767px){ .u-section-1 .u-group-1 {width: 540px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-1 {font-size: 3.75rem}
.u-section-1 .u-btn-1 {margin-left: 8px}
.u-section-1 .u-text-3 {margin-right: 334px; margin-left: 161px}
.u-section-1 .u-btn-2 {margin-left: 84px}
.u-section-1 .u-btn-3 {margin-right: 86px}
.u-section-1 .u-text-5 {margin-right: 198px}
.u-section-1 .u-btn-4 {margin-right: 8px} }

@media (max-width: 575px){ .u-section-1 .u-group-1 {width: 340px}
.u-section-1 .u-text-1 {font-size: 3rem}
.u-section-1 .u-btn-1 {margin-left: 0}
.u-section-1 .u-text-3 {margin-right: 234px; margin-left: 61px}
.u-section-1 .u-btn-2 {margin-left: 0}
.u-section-1 .u-text-4 {margin-right: 295px}
.u-section-1 .u-btn-3 {margin-right: 0}
.u-section-1 .u-text-5 {margin-right: 122px}
.u-section-1 .u-btn-4 {margin-right: 0} }